@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @apply text-6xl text-slate-800 font-bold;
  }
  h2 {
    @apply text-4xl text-slate-800 font-bold;
  }
  h3 {
    @apply text-3xl text-slate-800 font-semibold;
  }
  h4 {
    @apply text-xl text-slate-800 font-semibold;
  }
  p {
    @apply text-slate-800;
  }
}
@layer components {
  #map {
    width: 100%;
    height: 70vh;
  }

  .fluid-container {
    @apply px-6 my-0 container mx-auto;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
